[Unit]
Description=AI Security Agent for Linux VPS
After=network.target syslog.target auditd.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ai-security-agent
ExecStart=/opt/ai-security-agent/venv/bin/python -m app.main
Restart=always
RestartSec=5s

# Environment Variables Configuration
Environment=PYTHONUNBUFFERED=1
Environment=MODEL_DIR=/opt/ai-security-agent/trained_model
Environment=DATABASE_DIR=/opt/ai-security-agent/database
Environment=LOG_DIR=/opt/ai-security-agent/logs
Environment=CONFIDENCE_THRESHOLD=0.55

Environment=EMAIL_ENABLED=true
Environment=SMTP_HOST=smtp.gmail.com
Environment=SMTP_PORT=587
Environment=SMTP_USER=aymaneelfounti@gmail.com
Environment=SMTP_PASS=dcfp ukju lgmp eczr
Environment=ADMIN_EMAIL=aymaneelfounti@gmail.com

# Resource Limits & Security
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
